<div class="auth-container">

    <h2>Login</h2>
    <form action="/login" method="POST">

        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail:" required>
        </div><br>

        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha:" required>
        </div><br/>

        <input type="submit" value="Logar">
        <p>Não tem conta? <a href="/register">Clique aqui!</a></p>
    </form>
</div>