<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento:</h1>
    <form action="/toughts/add" method="POST">

        <div class="form-control">
            <label for="title">Pensamento:</label> 
            <input type="text" name="title" id="title" placeholder="Digite seu pensamento:">
        </div>

        <input type="submit" value="Criar Pensamento">

    </form>
</div>