<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos</h3>
    <p>
        <ul>
            {{#each toughts}}
                <li>
                    <span class="label">{{this.title}}</span>
                    <span class="actions">
                        <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                        <form action="/toughts/delete" method="POST">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="submit" class="btn" value="Excluir">
                        </form> 
                    </span>
                </li>
            {{/each}}
        </ul>
        {{#if emptyToughts}}
            <p>Sem Pensamentos Cadastrados. <a href="/toughts/add">Criar Pensamento</a></p>
        {{/if}}
    </p>
</div>